# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
public/assets/home-stay-photos.zip
public/assets/home-stay-photos/_MG_0190.jpg
public/assets/home-stay-photos/_MG_0191.jpg
public/assets/home-stay-photos/_MG_0192.jpg
public/assets/home-stay-photos/_MG_0194.jpg
public/assets/home-stay-photos/_MG_0195.jpg
public/assets/home-stay-photos/_MG_0196.jpg
public/assets/home-stay-photos/_MG_0198.jpg
public/assets/home-stay-photos/_MG_0201.jpg
public/assets/home-stay-photos/_MG_0202.jpg
public/assets/home-stay-photos/_MG_0203.jpg
public/assets/home-stay-photos/_MG_0214.jpg
public/assets/long.mp4
